body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0; /* Remove default margin */
  cursor: none;
  background-color:  #FAF9F6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top */
  align-items: center;
  height: 100vh;
  margin-top: 20px; /* Add margin to the top */
}

#header-text {
  display: inline-block;
  color: #333;
  margin-top: 0; /* Remove default margin */
}

#cursor {
  
  display: inline-block;
  width: 7px;
  height: 25px;
  background-color: orange;
  animation: blink-animation 0.7s infinite;
}

@keyframes blink-animation {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.header-section,
.button-section {
  
  margin-top: 10px; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
}

/* Style for your button */
.button {
  font-family: 'IBM Plex Mono', monospace;
  position: relative;
  width: auto;
  display: inline-block;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #f39c12;
  background: #e67e22;
  text-align: center;
  padding: 16px 18px 14px;
  margin: 12px;

  -webkit-transition: opacity 0.5s ease; /* Adjust the transition */
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0; /* Initially hide buttons */
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
}

/* Hover effect */
.button:hover {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #e67e22;
  transform: translateY(-2px); /* Move the button slightly up */
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
cursor: none;
}

/* Active effect (when the button is clicked) */
.button:active {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #e67e22;
  transform: translateY(2px); /* Move the button slightly down */
  box-shadow: none; /* Remove shadow on active state */
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 1px 0px #d35400;
}

/* Initially hide the content */
.content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Fade in effect when opacity changes */
.fade-in {
  opacity: 1;
}

.step {
  margin: 0 auto; /* Center the element horizontally */
  width: 70%; /* Set the width of the step elements */
  background-color: #fff;
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  border-style: solid;
  
  
}

#back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 24px;
  cursor: none;
  border-radius: 100px;
}

.button {
  font-family: 'IBM Plex Mono', monospace;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #f39c12;
  background: #e67e22;
  text-align: center;
  padding: 16px 18px 14px;
  -webkit-transition: opacity 0.5s ease; /* Adjust the transition */
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0; /* Initially hide buttons */
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
  cursor: none;
}

.button:hover {
  background-color: #e67e22;
  transform: translateY(-2px); /* Move the button slightly up */
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
  cursor: none;
}

.button:active {
  background-color: #e67e22;
  transform: translateY(2px); /* Move the button slightly down */
  box-shadow: none; /* Remove shadow on active state */
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 1px 0px #d35400;
}

.code-block-container {
  max-width: 70%; /* Adjust this value as needed */
  margin: auto; /* Center the code block horizontally */
}

.button-section {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next row */
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 10px; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
}
